/* CSS 속성 초기화 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* 전체 레이아웃 */
#wrapper {
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

/* 각 요소 간격 설정 */
#wrapper>*,
#wrapper>*>* {
    margin: 3px 6px;
    padding: 3px 6px;
    font-size: 18px;
}

/* 래퍼 하위요소 너비설정 */
#screenSetting,
#seatingChart,
#helpDialog,
#orderDialog {
    width: 70%;
}

#seatingChart,
#orderDialog {
    border-top: 1px solid rgb(54, 54, 54);
}

/* 상영관 세팅 구역 CSS 설정 */
#screenSetting {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

#screenSetting>select {
    width: 100%;
    text-align: center;
}

/* 도움/진행 관련 안내창 설정 */
#helpDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    height: 40px;
}

/* 좌석도 표시방법 */
#seatingChart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 각 좌석 표시방법 */
#seatingChart>div {
    width: 15%;
    height: 50px;
    margin: 7px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid rgb(54, 54, 54);
}

#seatingChart>div[data-status="empty"] {
    background-color: white;
}

#seatingChart>div[data-status="pending"] {
    background-color: #BDCDA3;
}

#seatingChart>div[data-status="reserved"] {
    background-color: #9E3043;
    color: white;
}


/* 결제/취소 관련 안내창 설정 */
#orderDialog {
    display: flex;
    justify-content: space-between;
}

#orderDialog>div {
    width: 70%;
    word-wrap: break-word;
    cursor: default;
}

#orderDialog>button {
    width: 30%;
    height: 80px;
    border-radius: 7px;
}

#orderDialog>button[data-seat-picked="0"] {
    background-color: grey;
    cursor: not-allowed;
}

#orderDialog>button[data-seat-picked="0"]:hover {
    background-color: grey;
    cursor: not-allowed;
}

#orderDialog>button[data-seat-picked="1"] {
    background-color: #ADDACC;
    cursor: pointer;
}

#orderDialog>button[data-seat-picked="1"]:hover {
    background-color: #56BAAE;
    cursor: pointer;
}